[2019-05-14 19:40] nsheff opened #2 "refgenies archive command"
we need a script that will take a refgenie.yaml config file and build the individual tar archives the server users.

this is a separate command-line tool that comes with the server package.

[2019-05-14 19:48] nsheff opened #1 "server interface ideas"
add to assets list:
- [x] size of the files
- [x] links to complete archives (add a separate API endpoint for these)
- [x] links to individual asset tarballs (already exists)

add to index landing page:
-  [x] link to `/docs` swagger auto-docs
- [x] links to some common api points (/genomes, /assets, or whatever)
- [x] switch to bootstrap
- [x] ~~some text introducing what this is~~ Added, needs *

[2019-05-14 21:33] nsheff opened #3 "passing config file to the server"
we'll need a way for the server to get the configuration filepath it should use. perhaps we should use what we did for `caravel` to do this... but I can't reconcile that with how to easily run it in a container right now...

[2019-05-14 21:40] nsheff commented on #1
Let's keep it simple and just make there be only 1 page, that shows all this stuff.

[2019-05-15 20:26] nsheff commented on #2
we should not compress things that are already compressed, but just tar them up (like indexes) -- maybe??

# To create a tarball for a folder that's already compressed:
`tar -cvf bowtie2.tar bowtie2`

# To create a compressed tarball for a folder or file that's NOT compressed:
`tar -cvzf bowtie2.tgz bowtie2.txt`

[2019-05-16 12:36] nsheff commented on #3
@nmagee  This is related to https://github.com/pepkit/caravel/issues/55

We'd like to get a container with `refgenie_server` up and running here. Can you help with that?

[2019-05-16 12:37] nsheff commented on #2
is it helpful or harmful to recompress index files that are already compressed? should we just tar them or just `tgz` everything?

[2019-05-17 14:25] nsheff opened #4 "packaging up the refgenie_server"
should we make refgenie server a python package?

[2019-05-17 15:18] nsheff commented on #2
`refgenies serve -c conf.yaml` -> runs current server function
`refgienies archive -c conf.yaml` -> converts the 'working' GENOMES folder into a 'servable' archived genomes folder

these config files will require an additional attribute to where the archived genomes folder sits:

[code]

## archive

prepare will load contig file so it knws all genomes and assets in the genome_folder. For each asse

[2019-05-17 16:20] nsheff commented on #4
follow the pattern for caravel.

also you can use the containerization strategy used here (or for episb-hub) to build the container for caravel.

[2019-05-20 12:52] nsheff opened #5 "add hook to list genomes by asset"
once refgenieconf has list genomes by asset function, https://github.com/databio/refgenconf/issues/7

there should be an endpoint to access that.

[2019-05-20 12:53] nsheff opened #6 "use checksums"
the builder should produce and save an md5 checksum of the archive after building.

[2019-05-20 12:58] nsheff opened #7 "adding new attributes to genome config file format"
we originally described the format as just one layer deep: https://github.com/databio/refgenie/issues/6

like:

[code]

but the server requires a bit more information: the archive folder at the project level, and then for individual assets we need filesize, checksum, etc. So for server we need a bit more info. I therefore propose this format:

[code]

[2019-05-20 12:58] nsheff commented on #6
we will need a place to store these checksums. see proposal in #7

[2019-05-20 12:59] nsheff commented on #1
for size, we may want to display both archive size and asset (unpacked) size. we don't want to recalculate these on the fly. therefore we require a slightly more complicated genome config file, at least when the server is involved.

see proposal in #7.

[2019-05-20 13:06] nsheff opened #8 "Endpoints for improved information"
In light of #7, we need to rethink how our endpoints will share this new information. I propose:

`/{genome}/{asset}` - provides a complete JSON with all attributes for that asset (so, `path`, `archive_size`, `asset_size`, and `checksum`...and anything else we add).

`/{genome}/{asset}/archive` - downloads the archive itself (currently what we're serving with `/{genome}/{asset}`

I think that suff

[2019-05-20 19:14] #1 closed, assigned to stolarczyk

[2019-05-20 19:15] #6 closed, assigned to stolarczyk

[2019-05-20 19:16] #4 closed, assigned to stolarczyk

[2019-05-20 19:17] #8 closed, assigned to stolarczyk

[2019-05-21 01:07] nsheff commented on #3
@michalstolarczyk I think for @nmagee to set this up he will need a couple of things...

- to know where the config file is located that we should use
- what directory to mount into `/genomes`

have you thought through how this will work with the project space on the uva server?

[2019-05-21 01:09] nsheff opened #9 "naming"
I originally used `refgenie_server` as the name of this repository, and then used `refgenies` as the command to invoke to start the server.

I'm not sure if `refgenies` is good because it is just *so* close to refgenie that it may cause some confusion.

I wanted to see what you thought about this and if you had any other suggestion for CLI name.

some ideas:
- `refgenserve`
- `rgserver`
- `rgcserv

[2019-05-21 01:13] nsheff commented on #5
looks like this can now be done with the latest refgenconf: https://github.com/databio/refgenconf/issues/7

[2019-05-21 13:24] stolarczyk commented on #9
I like `refgenieserver` the most

[2019-05-21 13:58] vreuter commented on #9
Ditto to @michalstolarczyk

[2019-05-21 14:59] stolarczyk commented on #5
it can be accessed now at: `/genomes/{asset}`

**question**: do we raise a 404 exception when there are no genomes with requested asset or return an empty list (which `list_genomes_by_asset` method does by default)?

[2019-05-21 15:00] nsheff commented on #9
the command would then be `refgenieserver serve` and `refgenieserver archive`. that's good?

[2019-05-21 15:04] nsheff commented on #5
return empty list.

[2019-05-21 15:04] #5 closed, assigned to stolarczyk

[2019-05-21 20:35] #7 closed, assigned to stolarczyk

[2019-05-21 22:06] stolarczyk commented on #9
LMK if I can proceed with the repo/command name change

[2019-05-22 15:49] stolarczyk opened #10 "table representation of the resources"
now the data that can be served/downloaded is represented as a list with badges providing additional info

it should be represented in a form of a set of tables, one for each genome, where assets are rows and columns are the assets' attributes

[2019-05-22 16:14] stolarczyk opened #11 "do not update the refgenie config file"
new YAML file should be created for the server use after `refgenieserver archive` rather than the original one edited.

location: where the `genome_archive` key points

[2019-05-22 18:09] #10 closed, assigned to stolarczyk

[2019-05-22 21:24] #11 closed, assigned to stolarczyk

[2019-05-22 22:44] stolarczyk opened #12 "use logging in refgenieserver archive"
use logging (possibly `logmuse`) instead of warnings in `refgenieserver archive`

[2019-05-23 14:07] #12 closed, assigned to stolarczyk

[2019-05-23 19:37] stolarczyk opened #13 "archive tars the files with the directory strcture"
see `-C` or `--strip-components` option

[2019-05-23 21:05] #13 closed, assigned to stolarczyk

[2019-05-24 01:05] nsheff commented on #9
it's not my favorite but since you both vote for it, I'm on board. Go for it!

the repo should also change names to that then

[2019-05-24 02:12] stolarczyk opened #14 "more frequent server config updates in archiver"
new entries (asset with its attributes) should be added to the config every time an asset is processed, rather than after the `archive` run

wait for https://github.com/databio/refgenie/issues/26

[2019-05-24 16:30] #14 closed, assigned to stolarczyk

[2019-05-24 16:43] #9 closed, assigned to nmagee, vreuter, stolarczyk

[2019-05-24 16:43] #2 closed, assigned to stolarczyk

[2019-05-27 23:25] stolarczyk opened #15 "asset column width variability"
set the `asset name` column width to a constant value, so that the table width is equal among assets

[2019-05-28 12:03] #15 closed, assigned to stolarczyk

[2019-05-28 20:46] nsheff opened #16 "TypeError: __call__() missing 2 required positional arguments: 'receive' and 'send'"
[code]

[code]

[2019-05-28 20:47] nsheff commented on #16
it throws this error when I visit `http://localhost`

[2019-05-28 21:01] nsheff commented on #16
I can't seem to figure this one out...

[2019-05-28 21:12] stolarczyk commented on #16
I've just tried it and could not reproduce it. It worked just fine

[2019-05-28 21:24] #16 closed, assigned to stolarczyk

[2019-05-28 21:25] nsheff commented on #16
update to uvicorn 0.7.1 in the container solved it for me. I can't explain why, but `docker build` even with `--no-cache` was only pulling uvicorn `0.5`...

[2019-05-29 12:31] nsheff opened #17 "home page style updates"
a few updates:

- [x] reduce font size on navbar to match our other pages (eg http://refgenie.databio.org)
- [x] make the genome->asset connection more clear by moving the genome name into a column of the asset table. one row could be 'all assets', which would be the link currently anchored by the genome name.
- [x] add version numbers at footer, as we have done with other packages.
- [x] we shoul

[2019-05-29 14:17] stolarczyk opened #18 "add genome level tarball attributes in archiver"
originally proposed by @nsheff in #17

[2019-05-29 15:22] stolarczyk opened #19 "favicon"
@nsheff can you create a square-shaped logo (maybe it's just the oil lamp from the original one) so that we can create a favicon out of it?

[2019-05-29 15:36] nsheff commented on #19
ok I put one in figvault/logo/refgenie_bug.svg

[2019-05-29 15:55] #19 closed, assigned to nsheff

[2019-05-29 17:56] nsheff commented on #18
if we just archive them twice, then we have to store twice as much data on the server; individual archives and then the combined one.  can we think of another solution?

1. we only keep the parent tar on disk; when an archive is requested via the API, we extract that individual tgz from the tar. it should be pretty fast (?)
2. we only keep the individual tars on disk. when a parent tar is requeste

[2019-05-29 20:35] stolarczyk commented on #18
we decided not to store the genome level tarballs at all. The same goal can by achieved by looping through the assets by `refgenie pull`

[2019-05-29 20:39] #18 closed, assigned to stolarczyk

[2019-05-30 20:34] vreuter opened #20 "Multiple sources of truth"
There's a config file in this project's root that differs in structure from the one in, e.g., `refgenconf`'s root. The one here should move to `refgenconf`, and then the one here should point to that one.

[2019-05-30 20:44] nsheff commented on #20
agreed! with the one caveat that this config file refers to stuff in this repository and specific to the `archive` command, which is beyond what is minimally required for the `refgenconf` file to work... anyway, I'm fine with doing as you suggest anyway if you wish

[2019-05-30 21:05] vreuter commented on #20
I mean, I don't _need_ a resolution...I just noticed this when working within in-code data in a test suite, that's mirroring the older structure. I'm OK with it and understand it for ease of use and a sort of meta-independence between the projects, but I could see upside with the single truth source. Anyway, no big deal, just a thought.

[2019-05-31 17:38] #17 closed, assigned to stolarczyk

[2019-06-06 14:15] nsheff opened #21 "are mounting app docs incorrect?"
in our directions we use -`v` to mount the `/app` dir.

I know you used to need to do this, but with the switch to importing uvicorn to run on the command line, is this still necessary? can we updated the docs if not?

[2019-06-06 14:27] stolarczyk commented on #21
yeah, this is not necessary anymore

[2019-06-06 14:27] #21 closed, assigned to stolarczyk

[2019-06-06 14:55] #3 closed, assigned to nmagee, stolarczyk

[2019-06-06 15:42] nsheff opened #22 "adding genome attributes to config file"
related to #7 (but for genomes instead of for assets)

what if we want to add some other attributes about a genome? examples include a description, URL to where it came from, what species it comes from, how long it is, etc.

maybe the config format should introduce an "assets" attribute under genome so they are not right under it?

[2019-06-12 17:42] jpsmith5 opened #23 "refgenie pull consistently fails to retrieve complete asset (large asset only?)"
Not sure if this is related to the size of the asset, but refgenie pull consistently is unable to retrieve the complete file.

[code]

[2019-06-12 17:54] stolarczyk commented on #23
so it _does_ work with small ones for you?

[2019-06-12 18:04] vreuter commented on #23
Could also be context-related...is this Rivanna or locally? Which OS/Python?

[2019-06-12 18:09] jpsmith5 commented on #23
Yes, it works for smaller ones, e.g. human_repeats or rCRSd.  This is locally.

[code]

[2019-06-12 18:10] stolarczyk commented on #23
hmm that's interesting. This is what happened on Rivanna (failed and then completed succesfully, when rerun)

[code]

[2019-06-12 20:30] jpsmith5 commented on #23
So, just as another direction toward source of the problem, I also can't successfully download the file from http://refgenomes.databio.org/ itself.  It attempts multiple times and ultimately fails with a "Failed - File incomplete" message.

[2019-06-12 20:30] nsheff commented on #23
@nmagee We're having some issues that appear to be problems with refgenie serving files. Can you see anything from your side that would explain what's happening here?

[2019-06-12 23:17] nsheff commented on #23
neal increased the memory of the containers from 512mb to 10G, so we can see if that helps.

[2019-06-13 00:21] nsheff commented on #23
this didn't help.

@michalstolarczyk

I tnoice the `download_asset` function is not asynchronous. could that be an issue? in fact, shouldn't all the endpoints be `async` ?

https://www.starlette.io/responses/#fileresponse

[2019-06-13 00:24] nsheff commented on #23
based on [this answer](https://stackoverflow.com/a/48949959) I think `FileResponse` is the correct thing to use, so I think we're right on that point at least.

[2019-06-13 11:24] nsheff commented on #21
did you close this issue but not actually solve it ? or is it solved somewhere but just not in master yet ?

[2019-06-13 11:56] nsheff commented on #23
Ok I've tried updating to `async` both with and without specifying the media_type and none of that seems to change anything. my pulls are still failing after about 15-45 seconds.

[2019-06-13 12:08] stolarczyk commented on #21
I thought you've resolved it with https://github.com/databio/refgenieserver/commit/cbad6b3d1831f705a301715ec22ad3baad62b636 then

[2019-06-13 12:50] nsheff commented on #21
ah. I sort of half did it. I think I got it all now.

[2019-06-14 18:55] nsheff commented on #23
@nmagee isolated this to a problem with the DCOS.

we're temporarily pointing a different server, which works. I just updated the DNS, to this should be resolved now.

in the future we'll figure out how to get it working on the new hardware, but for now, it appears to be working just fine on the dev machines. Thanks neal

[2019-06-14 18:55] #23 closed, assigned to nobody

[2019-06-14 18:56] nmagee commented on #23
Thanks for being one of my guinea pigs, as always, @nsheff  ;-)

[2019-06-19 12:07] stolarczyk commented on #23
Following this change the pushes to `master` are not reflected at http://refgenomes.databio.org/, but only at http://refgenieserver.uvadcos.io/. However, the latter throws `Internal server error`s when the assets are to be served, so it might not have an access to the required filesystem (?).

Is that intentional as it is just a temporary solution? Or we need some adjustments for the http://refgen

[2019-06-19 13:23] nmagee commented on #23
@michalstolarczyk -- good questions. In our quick hardware reversion last Friday I failed to wire up pushes to master and the running app itself. I'll correct that today so that changes to `master` will show up in both places, as well as figure out the filesystem issue.

I'm considering switching out the load balancers for DCOS to be entirely driven by the Traefik LB, which (I hope and think) may

[2019-06-20 13:01] stolarczyk opened #24 "alternate way to count asset downloads"
raised by @nmagee

The FS used by the container is read-only, so we can't update the config file in order to store download counts:

[code]

We need an alternate way to track downloads:

---
# To do:

- [x] revert https://github.com/databio/refgenieserver/commit/f486b1dc245895105ecc10acb1fbec382debb75b

- [ ] implement new approach

[2019-06-20 13:37] nmagee commented on #24
So possible new approaches:

The Redis `counter` approach just involves setting up a key and then hitting it with an `INCR` request each time you want to up the counter. You could write some basic logic to check for the existence of a key/value pair for any specific archive, and create it if it doesn't exist, or tick up 1 for each time it's called.

[code]
https://redis.io/commands/INCR

[code]

Y

[2019-06-20 14:11] nsheff commented on #24
can keys have slashes? like, our key would be {genome}/{asset}.

[2019-06-20 14:23] nmagee commented on #24
Yes.

[code]

[2019-06-20 15:17] nsheff commented on #24
@michalstolarczyk if you're working on this, make sure to make it *optional*... I'd rather not introduce this as a requirement since it's sort of a 'nice-to-have' feature. so it shouldn't add any new dependencies, etc. just use it if available

[2019-06-20 17:00] nmagee commented on #24
Also, let me know if you want to go down this particular path. I would just need to make the Redis address available for you from another host.

[2019-06-20 18:49] nmagee commented on #24
Michal, unfortunately with firewall rules I cannot reach the DCOS redis service from our current swarm, so I am running one with persistent storage on host `10.250.3.170` (the Swarm master). This means that in python you can instantiate and use redis with the snippet below.

It also seems wise that if you incorporate Redis-based counters as an _option_ and for portability, it might be best to pass

[2019-06-21 13:25] nmagee commented on #23
@michalstolarczyk @nsheff -- progress on this front: Using Traefik LB for the primary load balancer in DCOS did resolve this reported issue:

[code]

I'm going to test Traefik's functionality in other respects to make sure it's entirely suitable, but I think it can work well, all-around. Give me a week or two to make that determination. If we keep Traefik in place we can move the entire stack (pro

[2019-06-21 13:35] nsheff commented on #23
wow, great! Thanks.

[2019-06-21 13:42] nmagee opened #25 "dev branch"
Per request of @nsheff added a `dev` branch to the project, based on `045ae81`. Deployments using `.travis.yml` have been updated as well for automation. Build/deploys are taking ~60 seconds. [Follow Travis-CI here](https://travis-ci.org/databio/refgenieserver/builds)

**DEV/Development Branch**
* http://dev.refgenomes.uvasomrc.io/
* http://dev.refgenomes.databio.org/ [DNS required]
* http://dev.r

[2019-06-21 14:10] nsheff commented on #25
Proposal:  We typically use `dev` for pushing unpolished changes, so we should think differently for this rep. We use a new branch, 'sandbox', for temporary storage, untested changes, stuff we're doing locally.  When we're ready to deploy that to the dev server, we PR into dev. final release is the PR from dev to master.

The only thing about this is that I'm used to dev being like what I call 'sa

[2019-06-21 14:11] nsheff commented on #25
In other words, maybe the second 'developmental server' deploy should *actually* have been called something else ('staging'?) just for consistency with other projects?

No big deal here, just brainstorming.

[2019-06-21 14:33] vreuter commented on #25
If you're worried about changes inadvertently going into the test deployment, you could keep `dev` conceptually "dev" and make the test reployment something like `deploy`.

[2019-06-21 15:04] nmagee commented on #25
@vreuter has a good point -- `master` is easily (for my automated fingers) a branch I might accidentally push to, so an alt naming convention might be of help.

As for dev, staging, master branches+deployments, feel free to name it whatever you like -- I think 2 server-deployed branches is sufficient. (Remember when we had 3 levels for LOLAweb? It felt like too much.)

[2019-07-09 17:55] stolarczyk opened #27 "archiver should use YAML in the genome_archive if available"
When using `--asset` and/or `--genome` options the archiver should use the config file from genome_archive to prevent overwriting the assets metadata stored in the existing one.

[2019-07-10 01:24] nsheff commented on #25
Ok I think we all agree on concept but not on name:

the `dev` branch should **not** have an associated test server
the test server should be on a different branch. We have 3 suggestions for name of that branch:

- sandbox
- deploy
- staging

is there a community standard here?

the staging server would then be `staging.refgenomes.databio.org` (or `deploy.refgenomes.databio.org` or whatever we dec

[2019-07-10 01:26] nsheff commented on #25
by my searches, `staging` seems to be the accepted name for this type of setup. http://guides.beanstalkapp.com/deployments/best-practices.html

the `staging` branch, and `staging.URL` are used to test a deployment before merging to master. So, staging has my vote.

[2019-07-10 12:38] stolarczyk commented on #25
I'm fine with `staging`

[2019-07-10 12:51] #27 closed, assigned to stolarczyk

[2019-07-10 15:43] nmagee commented on #25
`staging` is good. And @nsheff there is no universal convention here -- different shops seem to have their standard and they stick to it. It makes sense to them, but might be very different next door.

Likewise, relying on `master` (Git) or `latest` (Docker) for the canonical / production version-branch is the way to go, or totally frowned upon.

If we don't yet have a `staging` branch here I will

[2019-07-10 16:09] nmagee commented on #25
@michalstolarczyk -- should I create `staging` based off of the `dev` branch you've been working on? Or from a fresh new branch off of `master`?

[2019-07-10 16:11] stolarczyk commented on #25
Let's create a fresh one from `master`

[2019-07-10 18:04] nmagee commented on #25
Okay, that's done. A clean `staging` branch has been created and pushed, with Travis snapped in correctly. One push has deployed automatically so I think we're all set.

The site has been loaded in DCOS, under these names:

- http://staging.refgenomes.uvadcos.io
- http://staging.refgenomes.databio.org

@nsheff could you please create a CNAME record `staging.refgenomes.databio.org` pointed to `load

[2019-07-11 12:54] nmagee commented on #25
DNS is in place now, and the pieces of a working `staging` branch appear to be all set.

[2019-07-11 12:54] #25 closed, assigned to nmagee

[2019-07-11 13:09] nsheff commented on #25
yep, appears to be working. thanks!

[2019-07-12 16:29] nsheff opened #31 "add examples to api docs"
the swagger autodocs should include examples. right now it says 'none available'.

we just need to add examples in the code in the appropriate way to give users example queries they can try out.

[2019-07-30 19:22] nsheff opened #32 "do not rely in args.config in archiver"
[code]

it should be reading the config from REFGENIE? or at least giving an understandable error.

[2019-07-30 19:25] nsheff opened #33 "docs for archive"
I am unable to figure out how the `refgenie archive` command works. Do I give it a config file?

[2019-07-30 19:26] nsheff opened #34 "change command order"
right now we say `refgenie pull -c CONFIG` but it's `refgenieserver -c CONFIG serve`. We should make the config come after the command as it does with refgenie. I find that more intuitive.

[2019-07-30 19:26] nsheff opened #35 "Error with archive"
Separate from #32; if I give the config then I get this error:

[code]

[2019-07-30 20:22] stolarczyk commented on #35
`set_default` is a typo (should be `setdefault`) which [was fixed on dev](https://github.com/databio/refgenieserver/commit/40072a1be5d2dc9ea3fc24b76a8434c77cd730b2) some time ago

[2019-07-30 20:34] stolarczyk commented on #32
you're right, it should. I'll look into that

[2019-07-30 23:01] #32 closed, assigned to stolarczyk

[2019-07-30 23:01] #34 closed, assigned to stolarczyk

[2019-07-31 14:37] #35 closed, assigned to nobody

[2019-07-31 14:41] #33 closed, assigned to stolarczyk

[2019-08-05 19:24] nsheff opened #36 "/genome endpoint is misdocumented."
Related to #31

the /genome/{genome} asset says:

Returns a tarball with all the archived assets available for the genome. Requires the genome name as an input.

but the query: http://refgenomes.databio.org/genome/hg38

yeilds

{"detail":"No such genome on server"}

which is false.

[2019-08-05 19:24] nsheff opened #37 "endpoint for genome information"
right Related to #36 -- right now there is no endpoint to retrieve metadata about a genome. we will need this to implement collection-level checksums.

[2019-08-05 19:31] nsheff opened #38 "endpoint to identify genome by hash?"
Will we want to be able to return server metadata for a genome that is requested by hash value?

[2019-08-05 19:58] nsheff commented on #37
/genome/{genome} -- all metadata
/genome/{genome}/checksum -- just genome checksum

[2019-08-05 19:59] nsheff commented on #38
[code]

[2019-08-08 18:47] #37 closed, assigned to stolarczyk

[2019-08-08 18:47] #36 closed, assigned to stolarczyk

[2019-08-15 21:24] stolarczyk opened #39 "introduce tagging concept"
add the following logic to the asset pull request:

**if no tag**: return default (if it exists)
**if tag**: return that tag (if it exists)

[2019-08-22 12:03] stolarczyk opened #40 "tagging in archive"
similar to #39, but for `refgenieserver archive`

[2019-08-27 18:23] #39 closed, assigned to stolarczyk

[2019-08-28 19:18] nsheff opened #41 "staging config"
@nmagee can we make the staging server operate on a different genome config file from the main server?

[2019-08-28 19:42] nsheff opened #42 "version API"
Some reading:

https://stackoverflow.com/questions/389169/best-practices-for-api-versioning

https://www.troyhunt.com/your-api-versioning-is-wrong-which-is/

### idea:

change `main.py` to:

[code]
and `version1.py` is:

[code]

Then refgenconf says `VERSION="v1"` and can be updated as needed.

[2019-08-28 19:52] nmagee commented on #41
@nsheff yeah I can set that up. Do you have a config file in mind already?

[2019-08-29 12:56] nmagee commented on #41
So as deployed in DCOS, this will be a simple change. It's pulling the `databio/refgenieserver:staging` image to run, then executing this command, which can easily be modified:
[code]
Just let me know a different YAML to point to and I can update it.

[2019-08-29 12:57] nmagee commented on #41
http://staging.refgenomes.databio.org/

[2019-08-29 13:36] nsheff commented on #41
@michalstolarczyk probably has a config he can point to.

[2019-08-29 13:37] nsheff commented on #41
we are changing the config format... hence the problem...

[2019-08-29 18:06] stolarczyk commented on #41
@nmagee, on `staging` we'd like to use this file: `/project/shefflab/refgenomes_archive/genomes_staging.yaml`

Additionally, we'd like to use a separate Dockerfile for the staging container, since we expect to test non-released requirements of `refgenieserver`. Do you think you can set it up this way?
[`staging.Dockerfile`](https://github.com/databio/refgenieserver/blob/dev/staging.Dockerfile) is

[2019-08-29 18:23] stolarczyk commented on #41
Also, the `refgenieserver` command syntax has changed on `dev`; the config file will need to be specified after the positional argument `serve`, like this:

[code]

[2019-08-29 19:26] stolarczyk commented on #42
implemented using [`fastapi.APIRouter`](https://fastapi.tiangolo.com/tutorial/bigger-applications/#apirouter) objects

[2019-08-29 19:26] #42 closed, assigned to nobody

[2019-08-29 19:27] #40 closed, assigned to stolarczyk

[2019-08-29 20:46] stolarczyk commented on #41
done

[2019-08-30 16:14] nsheff commented on #41
staging.Dockerfile is the file in question

@michalstolarczyk

I think you can just change this line:

https://github.com/databio/refgenieserver/blob/07b44a086c0a9c67ef381f9ae03ace5b35c3b72b/.travis.yml#L25

[2019-08-30 16:42] stolarczyk commented on #41
that's right we'll need to add `-f staging.Dockerfile` there, but `refgenieserver` would still get the old config (v0.2), which would result in `ConfigNotCompliantError`

and most importantly `-c` would be passed before `serve`

[2019-08-31 14:26] nsheff commented on #41
@nmagee is there any way for us to change it from `genomes.yaml` to `genomes_staging.yaml` ? Or are you the only one who can do it?

[2019-09-02 15:09] nmagee commented on #41
Let’s have a session together this week to get you guys in DCOS so you can modify / scale / manage as you need to. I hate being a roadblock!

From: Nathan Sheffield <notifications@github.com>
Reply-To: databio/refgenieserver <reply@reply.github.com>
Date: Saturday, August 31, 2019 at 10:27 AM
To: databio/refgenieserver <refgenieserver@noreply.github.com>
Cc: "Magee, Neal E (nem2p)" <nmagee@virgini

[2019-09-09 12:06] #41 closed, assigned to nmagee

[2019-09-25 15:08] stolarczyk opened #44 "no way to remove archives programmatically"
currently there's no way to programmatically remove archives.
`refgeniserver archive` just checks for ones that are present in genome config but not in server genome config and builds them. And not the other way around followed by archive removal.

[2019-09-27 18:26] stolarczyk opened #45 "Server GUI changes"
- [x] add links to all genomes on the server up at the top
- [x] display genomes in an alphabetical order

[2019-09-30 17:55] #45 closed, assigned to stolarczyk

[2019-10-01 19:43] #44 closed, assigned to stolarczyk

[2019-10-08 22:05] stolarczyk opened #46 "add custom operationIds"
in support of: https://github.com/databio/refgenconf/issues/64

see failed tests: https://travis-ci.org/databio/refgenconf/jobs/595340325

[2019-10-09 16:38] #46 closed, assigned to stolarczyk

[2019-10-21 20:02] nsheff opened #51 "Refgenomes.databio.org master server is giving a 404 error"
http://refgenomes.databio.org/ is down.

It was actually down (giving a 404 error) before the release... but anyway, now I just released it and it's still down...

[2019-10-21 20:03] nsheff commented on #51
http://staging.refgenomes.databio.org/ is operating as normal

[2019-10-21 20:46] nsheff commented on #51
The container is healthy and is serving correctly at: http://refgenomes.uvadcos.io/

Maybe it's just a cache issue but it's not showing up yet at the databio.org subdomain...

[2019-10-21 20:47] stolarczyk commented on #51
Oh so it worked... the release I've just made fixed it.

I wasn't sure why it's not up at our main URL

[2019-10-21 20:58] nsheff commented on #51
@nmagee is it working for you?

[2019-10-21 20:58] nsheff commented on #51
BTW, it was down before we did the release @michalstolarczyk so I don't think it's related to your fix, tbh...

[2019-10-21 21:03] stolarczyk commented on #51
I've browsed the logs when it was down after our first release today (v0.3.0) and the there was an `ImportError` regarding `refgenconf`. v0.3.0 was released with a `refgenconf` requirement commented out so it was not installed in the container build from the main Dockerfile. This was not the case on staging, because of this additional line in staging.Dockerfile:
[code]

But why it was down before?

[2019-10-21 21:09] nmagee commented on #51
Hi guys, sorry I was out of pocket all day in an ACCORD kickoff meeting. Looks like we’ve had an issue in Marathon that is not letting new services deploy or restart properly. I’ll dig into this and remedy as soon as I can, and open a ticket with Mesosphere if needed.

From: Michal Stolarczyk <notifications@github.com>
Reply-To: databio/refgenieserver <reply@reply.github.com>
Date: Monday, October

[2019-10-22 00:55] nsheff commented on #51
Ok thanks. It's not just a caching issue, because it's still down here at my home computer as well. So, there's definitely something wrong in mesos.

it's strange that it's working at some URLs but not others.

[2019-10-22 00:55] nsheff opened #53 "server has url hard coded"
if you visit 'http://refgenomes.uvadcos.io/' it says: Welcome to refgenomes.databio.org.

that must be hard-coded...should probably make that banner dynamic?

[2019-10-22 01:11] stolarczyk commented on #53
Yeah it might be confusing. I’ve never considered making it dynamic since the one that’s hard coded is in fact the only one that’s public.

[2019-10-22 11:56] nsheff commented on #51
I noticed the DNS was set differently (probably set at different times)...

refgenomes.databio.org had an A record to 128.143.8.170 while staging had a CNAME to ladbalancer.uvadcos.io

[code]

[code]

Meanwhile refgenomes.uvadcos.io has A records that match the loadbalancer settings:

[code]

I've changed the main one to match the CNAME version. Any reason this changed sometime yesterday?

[2019-10-22 11:57] nsheff commented on #51
And, now it's resolving correctly. That was quick... only took about 5 min to propagate.

[2019-10-22 11:57] #51 closed, assigned to stolarczyk

[2019-10-22 13:27] jpsmith5 opened #54 "Calling refgenieserver alone at commandline leads to AttributeError"
[code]

Ideally should default to the `--help` messaging yes?

[2019-10-22 13:30] jpsmith5 opened #55 "Archive function also requires a `genomes_desc` argument"
According to readme, the archive function only requires a config file:
"refgenieserver archive -c CONFIG
It just requires a -c argument or $REFGENIE environment variable."

However, it also appears to require `genomes_desc`:

[code]

[2019-10-22 13:35] jpsmith5 commented on #55
Even when including that option it isn't being recognized:
[code]

[2019-10-22 14:02] stolarczyk commented on #55
I'm confused, I'm sure I used this functionality to build what's currently served at master. Maybe I fixed these issues locally but did not commit the changes..

this should fix that. Thx for reporting!

[2019-10-22 14:24] jpsmith5 commented on #55
Okay, getting there...

Now it's waiting for a file lock before timing out.

[code]

[2019-10-22 14:25] stolarczyk commented on #55
Did you try to remove the lock and run archiver again? Maybe it's just a lock that's left by a previous failed process

[2019-10-22 14:26] jpsmith5 commented on #55
Yeah that was first thing. Removed all contents from the genome_archive directory.

[2019-10-22 14:37] jpsmith5 commented on #55
Config file:
[code]

Debug output:
[code]

[2019-10-22 15:05] jpsmith5 commented on #55
Following up here: removing the archive directory itself, prior to running `archive` resolves the lock file error.

[2019-10-22 17:40] #54 closed, assigned to stolarczyk

[2019-10-23 16:32] #53 closed, assigned to stolarczyk

[2019-10-23 16:32] #55 closed, assigned to stolarczyk

[2019-10-24 14:16] stolarczyk opened #59 "PyPi installation error"
requirements are not included in the package, because MANIFEST.in is missing.
[code]

[2019-10-24 15:44] #59 closed, assigned to stolarczyk

[2019-10-28 18:50] jpsmith5 opened #61 "hg19 ensembl_gtf asset is incorrect"
It appears that the `ensembl_gtf` asset for hg19 is either the wrong initial file or something was changed to it along the way. It should contain the following identifiers in column 3:
[code]

But instead it has:
[code]

Checking the [original source file](https://bit.ly/2MUP72j), as [we reference in the docs](http://refgenie.databio.org/en/dev/available_assets/#fasta), includes the "correct" valu

[2019-10-28 19:27] nsheff commented on #61
It should come from here:

https://github.com/databio/databio_genomes

it appears to be using: ftp://ftp.ensembl.org/pub/release-75/gtf/homo_sapiens/Homo_sapiens.GRCh37.75.gtf.gz

I can't tell what you're suggesting to use because the URL is masked by bit.ly. is it incorrect?

[2019-10-28 19:30] jpsmith5 commented on #61
ftp://ftp.ensembl.org/pub/grch37/current/gtf/homo_sapiens/Homo_sapiens.GRCh37.87.gtf.gz is the link and includes the correct file structure. Never tested it on older releases.

[2019-10-28 19:32] jpsmith5 commented on #61
Regarding never testing. That is to say, building the `feat_annotation` asset fails with that version of the file because it does not contain the full annotations.

[2019-10-28 19:35] nsheff commented on #61
I see. I guess this explains why there is no feat_annotation asset currently being served for hg19. So, what needs to happen is:

1. update the [genomes repo](https://github.com/databio/databio_genomes) to the new URL
2. delete the current hg19/ensembl_gtf asset
3. re-build that asset, and hg19/feat_annotation
4. re-archive those 2 assets.

[2019-10-28 19:37] jpsmith5 commented on #61
:thumbsup: will do

[2019-11-07 16:54] k3yavi opened #63 "New Salmon indices with Genome"
Hi guys,

Thanks for maintaining such an awesome resource.
I am from the salmon developer's group and we recently released a [new version](https://github.com/COMBINE-lab/salmon/releases/tag/v1.0.0) of salmon that supports highly accurate quantification (check [this](https://www.biorxiv.org/content/10.1101/657874v2) preprint for more details). Some of our users are interested in pre built salmon in

[2019-11-07 17:08] stolarczyk commented on #63
Thanks!
Sure, we're willing to update the resources. We can easily build and serve `salmon_index` assets produced by the new `salmon` version, but having a containerized version of `salmon` here: https://biocontainers.pro/#/tools/salmon would allow others to easily build assets using `bulker`: http://bulker.databio.org/en/latest/refgenie_tutorial/. Could you reach out to them and ask to containeri

[2019-11-07 17:13] stolarczyk commented on #63
nvm, I just realized the new version is already available

[2019-11-08 18:37] stolarczyk commented on #63
@k3yavi, `salmon_index` assets are up at: http://refgenomes.databio.org/

However, even though the build configurations remained the same, the indexes are generally much smaller (hundreds of MB vs. >2GB) than the ones produced with `salmon v0.14.2`. Is that expectable?

Let's take `mm10` genome as an example if you wish to inspect the build process:
build log: http://refgenomes.databio.org/v2/asse

[2019-11-08 21:05] k3yavi commented on #63
HI @michalstolarczyk ,

Thanks for the swift replies and rapid updates !
The low index size is indeed an expected behavior, in fact, it enables salmon to index the full genome now. With the latest release we proposed three different way of indexing salmon:

(In the order of decreasing  quantification accuracy; decreasing index size, decreasing running time)
1.) We call Selective Alignment Full (SA

[2019-11-11 17:55] nsheff commented on #63
This all sounds doable. Each of these are different assets, with different recipes. We have already done number 3.

Number 1 and 2 are possible, but will require some updates to refgenie, because we haven't encountered the idea of an asset that requires 2 parents of the same type (in this case, 2 parent fasta files). But, we should accommodate this. We have figured out exactly what we have to do,

[2019-11-11 17:58] nsheff commented on #63
We're open to other common model organisms -- we do have rat on there already, so we are set up to do human, mouse, and rat right now. which others are you thinking of?

[2019-11-12 03:15] k3yavi commented on #63
Hi @nsheff ,

Thanks for the speedy integration of our requests and it was great meeting you in person at the CSHL meeting. We are excited to use and refer salmon users to refgenie's automated pipeline. Once refgenie is ready with the new indexing (scheme 1), I think it's worth adding a short tutorial for end-users. We are maintaining the tutorials [here](https://combine-lab.github.io/alevin-tutor

[2019-11-20 14:03] nsheff opened #64 "Finding seek keys for an asset"
Raised in conversation with @johanneskoester.

When browsing available assets via web interface, one of the things you really want to know is: what files are available in this asset (aka, which seek keys are there?). This is buried a bit, you have to click the 'attributes' tag and then look for them in the resulting json.

Should we move the seek keys to be displayed prominently on the web page?

[2019-11-21 13:14] nsheff commented on #64
These pages look great! I think maybe you're still working on this. Just a first things I noticed, which you're probably already aware of:

1. the formatting of the lists is being destroyed by this style:

https://github.com/databio/refgenieserver/blob/496ea74f00bb929f08bd89173f685589ad2c2f55/refgenieserver/static/style.css#L1-L4

I'm not sure why those '*' lines are in `style.css` but they don't

[2019-11-21 17:37] stolarczyk opened #66 "generation of links to the relevant endpoints in asset splash page"
we need to systematically construct a list of relevant endpoints in asset splash page.

We should source them from the openAPI description JSON file by fetching just the `operation_id`s that describe the endpoints of interest. To do that, the `operation_id`s should to be stored in a dictionary in `refgenconf` that defines the hierarchy we need.

[2019-11-21 20:22] nsheff commented on #64
@johanneskoester

What do you think of this? http://refgenomes.databio.org/v2/asset/hg19/fasta/splash?tag=default

[2019-11-21 20:22] #66 closed, assigned to stolarczyk

[2019-11-22 03:03] nsheff commented on #63
Hi @k3yavi, we're finished in principle with the updates required to accommodate this new type of salmon index. We'll probably release a new version in the next few days with this capability.

So we're now ready for a list of specific assets to build --  as in, which exact txome and genome inputs for which versions of the human genome, etc.  It would be helpful if you could get us started with a l

[2019-11-22 17:03] k3yavi commented on #63
Hi @nsheff ,

Thanks again for the heads up and updating refgenie for the new requirements of salmon indexing.
I think I like the idea of maintaining a github repo for metadata information about assets into a  `genomes.tsv` file. It's clean and help us redirect other people in case they have specific requirements, obviously it would be under your discretion to what extend you'd like to maintain th

[2019-11-26 13:16] nsheff opened #67 "quotes and asset and archive digest endpoints"
is there a reason the digest endpoints return the digests with quotes?

http://staging.refgenomes.databio.org/v2/asset/hg19/fasta/default/archive_digest?tag=default

[code]

[2019-11-26 13:16] nsheff commented on #67
also: http://staging.refgenomes.databio.org/v2/asset/hg19/fasta/default/asset_digest?tag=default

"7ce3b03e30d6ef76af8c3ad09a141dfc"

[2019-11-26 13:25] stolarczyk commented on #67
we `return` a python `str` from the endpoint and in the FastAPI docs they say that some behind the scenes preprocessing is performed upon `return`:
https://fastapi.tiangolo.com/tutorial/response-directly/ so that's probably a result of that.
Also, any client applications that will query the server to get the digest should handle this JSON properly, as they expect a string anyway, right?

[2019-11-26 13:30] nsheff commented on #67
I see. I guess I don't really feel the need to return it as a JSON if it's an atomic output like that...what if you're just hitting it from somewhere like a command line or something? you'd have to pipe to `jq` to parse it, even for atomic endpoints... what do you think?

[2019-12-03 18:45] stolarczyk commented on #63
@k3yavi ,
We've run into a problem building `salmon_sa_index`es (following [this](https://combine-lab.github.io/alevin-tutorial/2019/selective-alignment/) tutorial).
We got the error below for every genome/txome we tried: `mm10`, `hg38`, `hg19` and `rn6`

[code]

couple of facts:
- memory limit should not be an issue since 60GB was requested
- we're running `salmon` with singularity using this con

[2019-12-03 19:24] k3yavi commented on #63
Hi @michalstolarczyk ,

Thanks for reporting, we have not seen this error before. I'll try to use the singularity container. I can grab the mm10 reference from Ensembl, can you confirm that you are also using the reference off the shelf from Ensembl ?

[2019-12-03 19:32] stolarczyk commented on #63
For mouse we used `mm10/fasta:default` and  `mm10_cdna/fasta:default` assets from refgenie:

You can easily get them with:
[code]

or just download from refgenieserver:
- http://staging.refgenomes.databio.org/v2/asset/mm10/fasta/archive?tag=default
- http://staging.refgenomes.databio.org/v2/asset/mm10_cdna/fasta/archive?tag=default

these are the sources we got them from:
- ftp://ftp.ncbi.nlm.nih.

[2019-12-03 19:33] k3yavi commented on #63
Cool, thanks, let me try and replicate the error on my end. I will get back to you in a bit.

[2019-12-03 20:08] k3yavi commented on #63
Hi @michalstolarczyk ,

I extracted the files from the refgenie link you shared above.
I am not sure why but both files starts from weird binary text after unzipping the fasta file, is it expected?
[code]
I am gonna go ahead with the ncbi ftp link to check for the segfault.

[2019-12-03 20:19] stolarczyk commented on #63
the assets on the server are tarred and gzipped, hence `.tgz` extension. Did you untar it? Also there are 3 files in every `fasta` asset tarball: .fa, .fai and chrom.sizes.

running `refgenie pull mm10/fasta:default -c genomes.yaml` does it for you.

[code]

[2019-12-03 20:20] k3yavi commented on #63
duh ! My bad, there was no extensions to the file when downloaded with wget so I assumed just gzipped. Thanks for the heads up.

[2019-12-03 20:43] nsheff opened #68 "serve headers to files correctly"
duh ! My bad, there was no extensions to the file when downloaded with wget so I assumed just gzipped. Thanks for the heads up.

_Originally posted by @k3yavi in https://github.com/databio/refgenieserver/issues/63#issuecomment-561340029_

I can confirm that wget isn't getting the correct info. Can we update the headers on refgenieserver?

[code]

I don't remember how to do this off the top of my h

[2019-12-03 20:53] nsheff commented on #68
apparently this is intended... you have to use `wget --content-disposition` if you want to use the server-suggested name

https://unix.stackexchange.com/questions/453465/wget-how-to-download-a-served-file-keeping-its-name

So, nevermind. we are already doing it correctly, it's just a wget behavior thing.

[2019-12-03 20:53] #68 closed, assigned to nobody

[2019-12-03 21:01] k3yavi commented on #68
Oh, I wasn't aware of that flag, thanks @nsheff !!

[2019-12-03 21:03] k3yavi commented on #63
@michalstolarczyk , I can confirm that salmon finishes indexing successfully on our end using the singularity docker. I missed to profile the run, restarted again for the stats on memory usage.

Any idea what else can be wrong ?

[2019-12-03 22:11] nsheff commented on #63
Interesting -- were you using singularity or docker? can you provide the shell command you used successfully?

[2019-12-03 22:15] k3yavi commented on #63
Made some progress, I think it's the RAM. ~Seemingly when I use the Ensembl reference I use 14G while~ when I use the refgenie reference I use 75G -- I think which is why the segfault.
I think there is some corner case in processing the files with salmon, I'll dig more and keep you guys updated,

**Correction:** It was taking 75G for both the reference on docker

[2019-12-03 22:17] k3yavi commented on #63
@nsheff Saw your comment late, I tried both but with docker I am using:
`docker run -it quay.io/biocontainers/salmon:1.0.0--hf69c8f4_0`
and the salmon commands are the same as forwarded by Michal above.

[2019-12-03 22:28] nsheff commented on #63
ok perfect, I'm testing it locally now. But if it takes 75G then that's likely the issue. @michalstolarczyk can you try again requesting more memory on the hpc? my desktop isn't going to cut it...

Also, I wonder why our peak memory calculation was off, since pypiper reported only 20G used...

[2019-12-03 22:31] k3yavi commented on #63
Thanks @nsheff for all  the help. We are working on checking it on a local comp as well because ideally we don;t expect salmon to take that much memory, one hypothesis was may be docker is exacerbating the memory usage somehow, but not sure right now. In case we are checking on the HPC it's worth putting a little higher than 75 as it was 75.7 ish.

[2019-12-03 22:42] stolarczyk commented on #63
I'm running two jobs now:

- `refgenie build ...` (which is using refgenie assets as inputs) with the memory limit of 100GB in a container managed by `bulker` (singularity)
- manual `salmon index ...` with the references retrieved from the ftp sources with 60GB memory limit in a container managed by `bulker` (singularity)

[2019-12-03 22:53] k3yavi commented on #63
Thanks @michalstolarczyk ,
I just finished indexing on my local comp without docker. I can finish indexing using the same reference in `<20G`. Please excuse my systems knowledge, does the virtual memory is also counted as regular memory by the software on the HPC ? Because that might explain it why profiler was saying 19G but the program segfaulted due to high virtual memory usage.

A correction o

[2019-12-04 04:42] stolarczyk commented on #63
in `pypiper` we just record the _physical_ memory with [`psutil.Process.memory_info().rss`](https://psutil.readthedocs.io/en/latest/index.html#psutil.Process.memory_info)

do you suspect the virtual memory to be used here? even though there's plenty of RAM allocated for the job?

[2019-12-04 05:03] k3yavi commented on #63
It's possible but I am not completely sure as the psutils seem to have another variable for monitoring the virtual memory. I am not sure what else could be different in the docker environment which is making salmon use excess memory.

This is how the time looks on our server from inside docker
[code]

[2019-12-04 05:38] k3yavi commented on #63
One more interesting observation, If I use the salmon docker image from Combine-Lab
`docker run -it combinelab/salmon` I can still index with `<20G` RAM. I think this narrows down the problem to the salmon image used by biocontainers peeps which is messing up with salmon's memory usage because if profiling was the issue then it should show similar memory usage with combine lab docker image.

Curio

[2019-12-04 12:59] nsheff commented on #63
I ran it successfully locally using docker and the memory use reported by docker stats maxed out around 24Gb.

[2019-12-04 13:24] stolarczyk commented on #63
and you ran in with refgenie assets, right?

[2019-12-04 13:26] nsheff commented on #63
yeah. My command was this:

[code]

[2019-12-05 02:25] stolarczyk commented on #63
couple of updates:

- I run the indexer with the same inputs as @nsheff  above as `refgenie build hg38/salmon_sa_index --assets genomefa=hg38/fasta txomefa=hg38_cdna/fasta` using the `combine/salmon` container with singularity and I got the same error. Memory limit was 30Gb, which should be enough considering previous memory usage. The build failed with the segmentation error.
- to rule out the po

[2019-12-05 02:36] k3yavi commented on #63
Thanks @michalstolarczyk for the extensive testing. The fact that it works locally but not on the HPC makes me wonder if there is some restrictions on HPC for virtual memory which we are not aware of ? Like can we check / increase the virtual memory limit, if possible? I am not a systems person please excuse if I talking stupid.

[2019-12-05 12:50] nsheff commented on #63
I indexed it successfully using `bulker/singularity` and `refgenie build` on my local computer. So I believe it's a problem on our HPC. I will now try to see if it works for me using singularity on HPC.

[2019-12-05 14:56] nsheff commented on #63
I reproduced the segmentation fault on the HPC with identical command and identical inputs. I don't think it's memory use. The software is outputting different things.

I notice the results are identical until a certain point.

In the working command log it says:

[code]
The failed command log says;
[code]

@k3yavi can you point me to what in salmon might lead to different results at this point?

[2019-12-05 17:10] k3yavi commented on #63
Hi @nsheff ,

Thanks for sharing the logs. I think the logs are producing the same output.
The section of log you shared is for the de-bruijn graph generation phase and uses bloom filters which can results in different number of FP between the two runs.
After the debruij is created, the total number of contigs is same i.e.
[code]
are same in both the logs and seem to index until the point of the c

[2019-12-06 18:49] nsheff commented on #63
Maybe related to: https://github.com/COMBINE-lab/salmon/issues/271 ?

[2019-12-06 22:49] nsheff commented on #63
Our HPC team has discovered that the segfault occurs when using salmon installed natively, not only on singularity. So, it is not related to singularity but may be related to SLURM. Have you run salmon successfully using slurm?

[2019-12-07 00:56] k3yavi commented on #63
We do have a HPC system at University level which uses SLURM but we rarely use, I'll try indexing salmon using that now.

[2019-12-07 01:36] nsheff commented on #63
Ok back to the original thread topic; we're ready with this now.  [Here is the repository](https://github.com/databio/databio_genomes) where we're cataloging the assets and all their inputs. I have added some instructions on how to add a new asset to this here:

https://github.com/databio/databio_genomes/blob/master/asset_pep/README.md#adding-an-asset-to-this-pep

It looks like @michalstolarczyk h

[2019-12-07 01:55] k3yavi commented on #63
I can confirm the indexing finished successfully using slurm on our HPC .

@nsheff  thanks for the forwarding the docs for adding the PR with the request for new assets.
It looks straightforward and makes sense.

[2019-12-07 18:14] stolarczyk commented on #63
FYI, the salmon recipe names are:
- `salmon_index`: the basic transcriptome index, so it belongs to `*_cdna` namespaces, e.g `hg38_cdna`
- `salmon_sa_index`: Selective Alignment Full (SAF) version, based on [this tutorial](https://combine-lab.github.io/alevin-tutorial/2019/selective-alignment)
- `salmon_partial_sa_index`: layman Selective Alignment version, based on [this script]( https://github.c

[2019-12-07 22:39] nsheff commented on #63
So @k3yavi, I think @michal has added those 3 assets now for human, mouse and rat. So I think what we need from you is to 1) confirm that the recipes (and the results) are as you expect them to be; and 2) check the input files we're using (the txome and genome fasta files) to make sure this is the ones you're expecting to serve. If you want any more, either versions of the 3 species that we alread

[2019-12-08 00:01] stolarczyk opened #70 "parent's children updating in refgenieserver archive"
when a new derived asset is added to an archive its parent’s children are not updated

for example

[code]

does not append `hg38/bowtie2_index:default` in `hg38/fasta`'s children in the genomes _archive_ config. It's just added to the genomes config as a part of building.

[2019-12-09 17:52] k3yavi commented on #63
Hi guys,

Thanks for the heads up. I was wondering is the memory issue related to SA is solved ? or we found a workaround ? As @nsheff mentioned, I checked the recipes [here](https://github.com/databio/refgenie/blob/master/refgenie/asset_build_packages.py#L220-L316) and it looks great to me.
To verify the results I installed a fresh version of refgenie but somehow I am not able to pull either of

[2019-12-09 18:16] stolarczyk commented on #63
They are not up yet. We cannot build the `salmon_sa_index` ones due to the issue discussed above. It's currently in cluster support people hands and they are still tracking the issue..
The other one (`salmon_partial_sa_index`) is currently in progress: recipe is ready and the assets are being built. So these should be up by the end of this week, maybe earlier.

Yes, we serve both gencode and ensem

[2019-12-09 18:30] k3yavi commented on #63
Thanks @michalstolarczyk  for confirming. No rush at all, but let me know once SA based ones are ready, I can sanity check them on my end as well. Regarding the annotations for `salmon_partial_sa_index`, my feeling is for the sake of consistency we should take all genome/txome/annotation from the same source either ensembl or gencode. May be there is no major affect at all but I am not sure if mix

[2019-12-09 18:36] nsheff commented on #63
We were able to build it locally though, can we just put that up for now?

[2019-12-13 01:08] k3yavi commented on #63
@nsheff  I thought the above question was not for me, was it ? If it was then I think developing index on any linux environment is fine, as long as it's not too much work for you guys.

[2019-12-13 03:13] nsheff commented on #63
Right, it was for Michal, and he came by my office and we talked in person about it. The cluster problem still hasn't been solved but I'm now set up the build the assets locally which should be done tomorrow.

[2019-12-13 03:15] k3yavi commented on #63
Thanks for confirming Nathan, I look forward to it .

[2019-12-13 21:04] #70 closed, assigned to stolarczyk

[2019-12-23 08:26] stolarczyk opened #73 "Variables not defined"
The `parent*`variables are not defined, but used in `get_asset` method, which results in an error. The order is simply wrong...

https://github.com/databio/refgenieserver/blob/893db408050cf7656cf9f9d2ebc5ac7280190b14/refgenieserver/server_builder.py#L159-L173

[2020-01-06 13:15] stolarczyk commented on #63
@k3yavi, we're now hosting `salmon_sa_index` and `salmon_partial_sa_index` assets at http://refgenomes.databio.org/ for the organisms mentioned above. Could you check whether they are ok from your perspective?

[2020-01-15 14:37] #73 closed, assigned to stolarczyk

[2020-01-15 17:21] k3yavi commented on #63
Hi @michalstolarczyk ,

Sorry for the late response. I checked all the indices, they look great. Thanks for making this all work so beautifully into the refgenie framework. I'll close this issue now !

[2020-01-15 17:21] #63 closed, assigned to stolarczyk

[2020-05-14 15:36] nsheff opened #80 "refgenieserver incompatibility with plugins refgenconf"
Using plugins branch of refgenconf,

refgenieserver archive -c refgenie_rCRS.yaml

[code]

due to this:

https://github.com/databio/refgenconf/blob/db4974013baa3c6cec23e21b97f069e14a272357/refgenconf/refgenconf.py#L1264

[2020-06-18 02:47] nsheff opened #83 "archiving with multicore"
what do you think of somehow speeding up the archive process with pigz?

https://stackoverflow.com/questions/12313242/utilizing-multi-core-for-targzip-bzip-compression-decompression

[2020-06-18 02:49] nsheff opened #84 "archiving each sample individually"
right now we just run `archive` and it archives the whole thing at once...

is it possible to split this into archive tasks so that I can farm these out as sample jobs (per asset) instead of a single job for the whole shebang?

[2020-06-18 13:46] stolarczyk commented on #83
`pigz` is already used, if available:

https://github.com/databio/refgenieserver/blob/52ed2869ac1b049bba97b31cb706da41cc3ca395/refgenieserver/server_builder.py#L216

[2020-06-18 13:51] stolarczyk commented on #84
yes, I think it is possible to parallelize this since the archives are totally independent of each other and `RefGenConf` supports locking and race-free writing.  The problem is, we initialize this job based on refgenie config file, which would need to be transformed into PEP and we could write this as a pypiper pipeline and submit using looper.

[2020-06-18 14:02] nsheff commented on #83
ah; must not have been available, then...

[2020-06-18 14:04] nsheff commented on #84
It would be simpler to just:

- modifiy the `refgenieserver archive` command to accept a registry path (like `refgenieserver archive hg38/bowtie2_index`)
- write a sample-level archive piface (instead of the current project-level one)
- take the original pep as input and run the archiver

[2020-06-18 14:07] stolarczyk commented on #84
It does already

[code]

[2020-06-18 14:09] nsheff commented on #84
well then :). that makes this even easier...

it will be much nicer to archive in parallel.

[2020-06-18 14:28] #83 closed, assigned to nobody

[2020-06-18 14:31] stolarczyk commented on #84
I can try to set this up. Does it still live databio_genomes? or dbg?

[2020-06-18 14:35] nsheff commented on #84
everything's a mess right now... give me an hour and I'll get things a bit more organized.

it will live in refgenie/server_deploy

[2020-06-19 11:52] nsheff opened #85 "KeyError: 'tags'"
Related to #84
[code]

[2020-06-19 13:26] nsheff commented on #85
I believe this was just a manifestation of https://github.com/databio/yacman/issues/34 and things were failing before it got to here...

[2020-06-22 20:30] nsheff opened #86 "remote url pointers are incomplete"
Right now on staging, the remotes are correct for the big archive file, but we need to *also* update the URLs for the other files, which are no longer stored locally... that would be the endpoints for build log and build recipe.

You can see it in action here: http://rg.databio.org:82/

@stolarczyk do you think you can handle this change?

[2020-06-22 20:31] nsheff commented on #86
those files *are* on aws, so we just need to update the code to point to aws not just for the archive, but for any files served by the api

[2020-06-22 20:36] stolarczyk commented on #86
sure, I'll get all the API endpoints to work with remote_url pointer

[2020-06-24 16:44] nsheff commented on #85
this turned out to *not* be the same as the yacman error, I guess.

[2020-06-24 16:49] stolarczyk commented on #85
yes, the wait time was a different problem.

[2020-06-27 20:15] nsheff opened #87 "Race condition on creating a folder in archive command"
[code]

This happens in makedirs if the dir is created between the check, and the makedirs call. Exactly the same error as [this stackoverflow question](https://stackoverflow.com/questions/1586648/race-condition-creating-folder-in-python).

[2020-06-29 17:13] nsheff commented on #84
this is working fine, it turns out (after we solve all the issues with parallel writing to the config file...)

[2020-06-29 17:13] #84 closed, assigned to nobody

[2020-06-29 17:16] nsheff commented on #61
closing issue, please re-open if this is still a problem.

[2020-06-29 17:16] #61 closed, assigned to nobody

[2020-06-29 17:17] nsheff commented on #20
I believe this is no longer an issue with the new configs.

[2020-06-29 17:17] #20 closed, assigned to nobody

[2020-07-06 13:55] stolarczyk opened #89 "add id-digest conversion endpoints"
Add API endpoint that converts a human-readable identifier to the server's digest and vice versa

[2020-07-06 19:45] #85 closed, assigned to nobody

[2020-07-06 19:45] #86 closed, assigned to stolarczyk

[2020-07-06 19:45] #87 closed, assigned to nobody

[2020-07-22 19:40] nsheff opened #92 "add genome_description upon asset pull"
Raised by @natefoo

When the first asset for a genome is pulled, we fix the genome_digest, but not the genome_description. The genome description is in fact never populated into the local config it seems, though it can be retrieved via API (eg http://refgenomes.databio.org/v2/genome/hg38).

It would be nice to populate the genome description as well, just so users have that info in their config fi

[2020-07-23 20:52] nsheff opened #93 "/asset endpoint lists seek keys"
this asset endpoint: http://refgenomes.databio.org/v2/assets

will yield a response not for every asset but for every seek key. This causes some confusion... shoudl the asset endpoint only list assets? why would we want seek keys listed here? should it be a separate endpoint?

raised in discussion with @natefoo

[2020-07-23 21:20] stolarczyk commented on #93
this is the endpoint that is used by `refgenie listr` and it lists the seek keys just as `refgenie list` does. Maybe we could add a separate endpoint that would list just the genome/asset:tag?

[2020-07-23 22:22] nsheff commented on #93
alternatively, listr doesn't need to show the seek keys.
what is the advantage of showing seek keys in listr ? people are interested in the assets, not the seek keys, held by the server.

[2020-07-24 13:06] stolarczyk commented on #93
I think listing seek keys makes sense because soon the asset recipes and names will become arbitrary so this is a way to remotely inspect actual contents of an asset. Additionally, I like that list and listr show the same _types_ of information

[2020-07-25 01:53] nsheff opened #94 "archive doesn't populate the config if archive exists"
I've released a source of some of my earlier trouble with missing assets on the server.

If I run the archiver, and then want to change some things and re-run it to recreate the config, what I do is something like:

1. run archvier
2. delete config file
3. run archiver again
4. try to upload config

but if the archiver detects an archive is there, it doesn't rebuild it, and then doesn't correctly

[2020-07-25 20:05] stolarczyk commented on #94
I see. The scenario that you describe in my mind is far less frequent than:

1. run archiver on a large set of assets (takes couple of hours)
2. build a new asset
3. run archiver on the newly build one (takes couple of minutes)

The archiver was "optimized" towards this scenario -- incremental archive updates. Recalculating hashes would make the 3. step last really long for every incremental updat

[2020-07-25 22:15] nsheff commented on #94
Yeah, that makes sense -- or, it could actually just recalculate the archive digests *only if they don't exist*, by default. This would work for both scenarios, with no additional option, wouldn't it?

[2020-07-27 12:36] stolarczyk commented on #94
yes, and that's probably the best solution

[2020-07-27 13:06] stolarczyk commented on #94
it's implemented on dev if you wish to use this feature

[2020-07-30 18:55] stolarczyk commented on #38
related to https://github.com/refgenie/refgenie/issues/179

[2020-07-30 18:57] #80 closed, assigned to nobody

[2020-08-28 13:46] nsheff opened #97 "can we streamline the staging dockerfile?"
our [staging dockerfile](https://github.com/refgenie/refgenieserver/blob/dev/staging.Dockerfile) is currently:

[code]

can we streamline some of this? I think we can remove henge/seqcol since we've embedded those now.

But can we also remove make, automake, gcc, g+, subversion ?

[2020-08-28 13:46] nsheff commented on #97
Related to #96

[2020-08-28 13:57] stolarczyk commented on #97
yes, it's definitely possible. I just used this one for development.

[2020-08-28 14:50] #97 closed, assigned to stolarczyk

[2020-08-28 17:58] nsheff opened #98 "genome mapping endpoint link"
![image](https://user-images.githubusercontent.com/5271009/91600712-6fb72200-e936-11ea-8a33-4effef826a32.png)

why does every asset have a 'genomes mapping' endpoint link, when this is universal and not asset-specific?

[2020-08-28 17:58] nsheff commented on #98
eg http://refgenomes.databio.org:84/v3/asset/01139a772b15031670b3517b4b81cb26cc3eeba98b9699ab/fasta/splash?tag=default

[2020-08-28 18:11] stolarczyk commented on #98
I added the "genome attributes" and "genomes mapping" enpoints by mistake. This list of links is generated systematically from a dict defined in refgenconf. By adding those links to the dict, the error propagated.

[2020-08-28 18:28] nsheff commented on #98
makes sense. thanks!

[2020-09-02 15:46] #98 closed, assigned to stolarczyk

[2020-11-06 20:25] nsheff opened #100 "Including unarchived assets on the server"
I've now come up with at 3 use cases that suggest we should tweak the way we store asset archives.

1. For nextflow use of refgenie, they want an s3 source of the refgenie assets *unarchived*.  Right now all we store on s3 is the archived version.

2. For a UCSC assemblyhub, refgenie/refgenie#219, we need to host a twobit file. If we had a twobit asset in refgenie, we'd have it on s3 wrapped up in

[2020-11-18 20:09] nsheff opened #99 "alias sorting sorts by digest"
Problem behavior: if you click on "aliases", it sorts by digest
Expected behavior: If you click on 'aliases', it should sort by aliases.

for a demo see http://plantref.databio.org

[2020-11-18 21:01] nsheff commented on #100
Here's an endpoint idea:  `v3/asset/{genome_digest}/seek/{asset}/{seek_key}?tag=default`

Example: `v3/asset/09caecc78ed519cf256668505641345c9d1b7011426f66ba/seek/fasta/fai?tag=default`

[2020-11-23 20:57] jpsmith5 opened #101 "How should URLs be formatted?"
Currently, genome splash pages, asset pages, et cetera follow a non-uniform URL structure.

For example, a genome splash page utilizes a parental `genome/` URL: `http://rg.databio.org/genome/10c566e9f7c867a2eb27fd8606254a5a3d45aee8c175a07e/splash`

But, a related asset _for_ that genome changes the structure to: `
http://rg.databio.org/v3/asset/10c566e9f7c867a2eb27fd8606254a5a3d45aee8c175a07e/bowt

[2021-01-29 16:44] k3yavi opened #102 "Transcriptome versions used at refgenomes.databio.org"
Hi guys,

Thanks again for maintaining this awesome resource.
I got a quick question, any ideas on how do respond to the following question ?
https://github.com/COMBINE-lab/salmon/issues/614

[2021-01-29 21:06] stolarczyk commented on #102
responded, thanks for bringing it up here

[2021-01-29 21:06] #102 closed, assigned to nobody

[2021-02-01 21:24] k3yavi opened #103 "TgMap file"
Hey guys,

Thanks again for maintaining the great tool.
I got another request, for using alevin users often need a transcript to gene id mapping tsv file, which they have to create posthoc. Is it possible or advisable to include the tgMap file with the salmon indices ?

[2021-02-02 00:41] nsheff commented on #103
do you think it would be a separate asset? or bundled with the salmon indices?

[2021-02-02 00:45] k3yavi commented on #103
I feel it'd be great if we can bundle it inside the salmon indices. However if it needs major restructuring on the refgenie front or it'd benefit other tools' indices also, then probably it's better to create a separate asset ? All we need from the salmon/alevin front is a consistent way to suggest users for generating the tgMap file. In theory we can use the GTF asset already present and write a

[2021-02-17 22:20] nsheff commented on #64
I'm satisfied with this.

[2021-02-17 22:20] #64 closed, assigned to stolarczyk

[2021-02-17 22:21] nsheff commented on #89
I guess this is:

http://rg.databio.org/v3/alias/genome_digest/hg38

[2021-02-17 22:26] #94 closed, assigned to nobody

[2021-02-17 22:27] nsheff commented on #103
2 questions:

1. how big is the file?
2.  would you ever want the salmon indexes without that file?

[2021-02-17 22:29] k3yavi commented on #103
I don't think it's a big file probably a few mb. Yea, the bulk mode of salmon won't need it, only the single-cell mode (alevin) would (always) need this file.

[2021-02-17 22:34] nsheff commented on #103
does salmon expect them to be living in some particular folder/naming orientation relative to one another? or can the be passed separately?

[2021-02-17 22:36] k3yavi commented on #103
It's passed separately.

[2021-02-17 22:36] nsheff commented on #103
OK great. Can you provide a recipe for how to create it?

[2021-02-17 22:39] k3yavi commented on #103
Usually I do the following:
[code]

But it only works with partial salmon index, not with the full genome.

[2021-03-01 19:26] stolarczyk commented on #101
# refgenieserver API design

## nested

Use path hierarchy to restrict the response

### `genomes` collection

**GET**

- `/genomes` - lists "genomes" resource elements
  - `/genomes/{genome}`
    - `/genomes/{genome}/description`
    - `/genomes/{genome}/alias`
    - `/genomes/{alias}/genome_digest` (inconsistent)
    - ...
    - `/genomes/{genome}/assets` - lists "assets" resource elements

[2021-03-01 19:38] nsheff commented on #101
The way we refer to all entities follows this pattern: `{genome}/{asset}.{seek_key}:{tag}`

Can we mimic as close as possible to using that in the API?

-`/assets/description/{genome}/{asset}.{seek_key}:{tag}`
-`/tags/{genome}/{asset}.{seek_key}:{tag}`
-`/genomes/description/{genome}`

[2021-03-01 20:07] nsheff commented on #101
each endpoint follows a general system:
[code]
The end of the endpoint is always the registry path referring to the entity and can be, depending on the endpoint:
-  `{genome}/{asset}` (most common)
- `{genome}` (also common)
- `{asset}` -- infrequently... maybe only for `/genomes/list_by_asset/{asset}`
- `{genome}/{asset}/{seek_key}` -- probably nothing right now, but will use in the future for cl

[2021-03-01 20:37] nsheff commented on #101
another possibility is to just not have collections for endpoints, and just name each endpoint at the top level:

- `/asset_list_by_genome/{genome}?tag={tagname}`
- `/asset_seek_keys/{genome}/{asset}`
- `/asset_archive/{genome}/{asset}`
- `/asset_digest/{genome}/{asset}`
- `/asset_build_log/{genome}/{asset}`
- `/asset_recipe/{genome}/{asset}`
- `/asset_splash/{genome}/{asset}`
- `/genome_list_by_a

[2021-03-02 16:39] stolarczyk commented on #31
examples have been added: http://rg.databio.org/docs#/APIv3/v3custom_Id_genome_attrs

[2021-03-03 21:32] stolarczyk commented on #103
I created the `tgMap` recipe in refgenie: https://github.com/refgenie/refgenie/commit/7d1f1ac82a3661959345efcee3ea4667cc780b8f. But had to add a `tr` step since not all implementations of `cut` support `--output-delimiter` option.

@k3yavi, can you confirm this looks alright? Here's a couple of lines of the result for hg38 genome:

[code]

[2021-03-11 18:18] #99 closed, assigned to nobody

[2021-03-11 21:08] #31 closed, assigned to nobody

[2021-03-11 21:08] #38 closed, assigned to nobody

[2021-03-11 21:08] #89 closed, assigned to stolarczyk

[2021-03-11 21:08] #93 closed, assigned to nobody

[2021-03-11 21:08] #101 closed, assigned to stolarczyk

[2021-03-18 18:19] stolarczyk opened #105 "private endpoint not included in the openAPI schema"
reported in: https://github.com/refgenie/refgenie/issues/232

private endpoint not included in the openAPI schema

[2021-03-18 19:03] #105 closed, assigned to stolarczyk

[2021-03-19 19:02] nsheff opened #110 "add tree endpoint"
- [x] add to archiver: `tree asset > tree_files.txt` -- put alongside logs and stuff that are external to the asset.
- [x] add an endpoint to serve that file
- [x] add a link to the endpoint on the asset splash page,
- [x] and maybe hit that endpoint to display its contents on the splash page as well?

[2021-03-22 01:12] stolarczyk commented on #110
went with `find` in the end to avoid adding `tree` dependency as this command might not be installed on some systems.

Example endpoint: http://rg.databio.org/v3/assets/dir_contents/94e0d21feb576e6af61cd2a798ad30682ef2428bb7eabbb4/fasta?tag=default

[2021-03-22 15:49] nsheff commented on #100
A few thoughts:

1. What should the API enpoint be called? Right now it's `assets/asset_file_path/{digest}/...` -- Do you want to use `seek` or `seekr` in there for analogy to the CLI? Just thinking out loud...
2. Should we have a parameter `?protocol=s3|http` (default to `http`) ? I think to enable the s3 links, we'd need a new prefix attribute in the refgenie archive config file used by `refgeni

[2021-03-22 16:08] stolarczyk commented on #100
I'm not sold on `asset_file_path` in there either... But I'm also not sure if introducing this tight terminology coupling between refgenieserver REST API and CLI is a good idea. I think it's more important that the REST API is easy to understand for _anyone_ consuming it. `seekr` keyword does not hint at what the return value of this endpoint is.  For example, we don't use `pull` keyword for the e

[2021-03-22 16:30] nsheff commented on #100
Alright, I see your point here. I'm fine with that I think.

True, but S3 is so ubiquitous now that it's now its own protocol, like http... other providers (like backblaze) provide s3-compatible interfaces, for example. So, we can use any provider, as long as it's s3 compatible. but the downstream consumption tools will need to know that it's an s3 url to consume it correctly. So, I think using 's

[2021-03-22 16:55] stolarczyk commented on #100
ok, I wasn't aware of that.

[2021-03-22 17:24] nsheff commented on #100
https://devblogs.microsoft.com/cse/2016/05/22/access-azure-blob-storage-from-your-apps-using-s3-api/

looks like azure and google cloud aren't natively s3 compatible, but there are workarounds...

do you think there's a more flexible solution we'd need to arrange? I mean, from refgenie's perspective it's just returning a URL. It's just a question of the underlying service for that URL, right? the

[2021-03-23 13:44] nsheff commented on #67
I think we need to switch this.

It's inconvenient to get a string with quotes for something like this: http://rg.databio.org/assets/file_path/2230c535660fb4774114bfa966a62f823fdb6d21acf138d4/fasta/fasta?remoteClass=http

now in particular when we're returning paths. the quotes offer no advantage as far as I can see.

[2021-03-24 21:37] nsheff opened #111 "KeyError: 'remotes'"
on my recent deploy I get this error:

[code]

I guess this is because I'm using the dev version of refgenieserver, which is expecting a new config format. But it is not creating it when I archive automatically. maybe it should not require the remotes to be set? Or have the archiver set it?

[2021-03-25 00:32] stolarczyk commented on #111
I built some logic to prevent that:

https://github.com/refgenie/refgenieserver/blob/83fcd14beb77cfae2c08f91baf7bdf00cefa75a0/refgenieserver/helpers.py#L140-L200

but it is executed in the endpoints, after the custom `Enum`is created. I missed that...

the `remotes` key is not intended to be required. However, it's the only way to set the remote data source now. It superseded `remote_url_base` key

[2021-03-25 15:25] nsheff opened #112 "archiver and aliases"
I first build a few assets, then archive them.

Then, I build a few more, and try to archive them. When this happens, I get this error.

I think what may be happening is that since there are new assets, not in the archive config file, they are not getting copied over. or maybe I'm doing something wrong. To fix I just had to delete the archive config and re-start it. But I thought it should be able

[2021-03-25 15:46] stolarczyk commented on #112
aliases were not copied over, but then were expected to be there. Try now

I wonder why it didn't come up earlier.. I think I did what you described before.

[2021-03-25 15:52] nsheff commented on #112
you may have only started over from scratch? not sure.

[2021-03-25 20:43] nsheff opened #113 "Links to new cloud-based endpoints"
Related to #100.

We should add some links on the asset splash pages, to make it easier to find stuff. Ideally we don't have to use the API docs, but can browse the assets and then click on whatever link. Here's a list

At least we should have:
- full archive via either http or s3 (or, whatever is provided in `remotes`, for each remote)
- individual seek key items for each remote

Maybe start thin

[2021-03-26 19:16] stolarczyk commented on #113
that's done. LMK what you think: http://rg.databio.org/v3/assets/splash/43f14ba8beed34d52edb244e26f193df6edbb467bd55d37a/fasta?tag=default

Also, I used the latest refgenie@dev, so the default `dir` seek key is added in every asset, which points to a dot (`.`), which looks a bit unsatisfying. On the other hand, I like the fact that it's not treated in a special way. This sort of solves the point b

[2021-03-26 19:26] nsheff commented on #113
that's great! style-wise, I can't immediately tell they are links though, since you're using buttons with bold black. I think it would be more clear if they followed the same link style as all the other endpoint links. maybe just with text like [[http]() | [s3]()]. and if you shift to the front then they will line up. So,

seek_keys:
    [[http]() | [s3]()] fasta: 43f14ba8beed34d52edb244e26f193df6

[2021-03-26 20:02] stolarczyk commented on #113
I corrected the style.

So you're essentially suggesting to add `{"dir": ""}` key-value pair to seek_keys in the recipe, instead of `{"dir": "."}`?

[2021-03-26 22:22] nsheff commented on #113
hmm... I guess so. What do you think?

[2021-03-29 13:01] stolarczyk commented on #113
I think this makes sense. The only downside in my opinion is the fact that we will need to treat this seek_key individually not to end up with `dir` pointing to nothing in the asset page. Or, maybe that's fine actually?

[2021-03-29 15:58] stolarczyk commented on #113
I tried using this in practice and the empty value for `dir` seek_key introduces some problems. It is interpreted as `None`, as opposed to `str` in regular seek_keys, which may cause some nasty bugs down the road. I'm not sure if it's worth going down this path...

Alternatively, to solve the issue that inspired us to switch from `{"dir": "."}` to `{"dir": ""}` we could programmatically strip any

[2021-03-29 16:15] stolarczyk commented on #113
I decided to simply not append the seek_key target for the `dir` seek_key and it solved it: http://rg.databio.org/v3/assets/file_path/94e0d21feb576e6af61cd2a798ad30682ef2428bb7eabbb4/bowtie2_index/dir?tag=default&remoteClass=s3

[2021-03-30 14:24] nsheff commented on #113
Just thinking out loud... do you think the links should lead to actual files, as opposed to links to links? I mean the links on the splash page.

[2021-03-30 14:30] stolarczyk commented on #113
I see some use in both, but mostly in the links, which can be used to get the file. I don't know if you remember, but initially, I implemented an endpoint that served the file and we decided to remove it since the endpoint serving the link _almost_ accomplishes the file serving goal.

[2021-03-30 14:31] stolarczyk commented on #113
Also, for assets like bowtie2_index it would be tricky.

[2021-03-30 15:47] nsheff commented on #113
Yes I know; this is slightly different... it's a link and doesn't necessarily need to be an endpoint. So you can make these direct links without an endpoint that returns the files; but also provide the endpoint that returns the link.

This is actually one of the things I'd like to do, is basically reproduce this interface: https://benlangmead.github.io/aws-indexes/bowtie

This is tricky because th

[2021-03-30 15:53] stolarczyk commented on #113
ok, so this requires a new concept of serving any file from the asset directory, regardless of the fact if the seek_keys point to them.

We could somehow use the generated [asset dir contents files](http://awspds.refgenie.databio.org/rg.databio.org/94e0d21feb576e6af61cd2a798ad30682ef2428bb7eabbb4/asset_dir_contents_bowtie2_index__default.txt).

[2021-03-30 21:23] nsheff commented on #113
Do you think it would make sense to define these as another, lower class of seek key, that doesn't provide seek key access but does provide API access?

[2021-03-31 18:59] stolarczyk commented on #113
I managed to mimic the interface you linked without the special seek_key class. You can check it out [here](http://rg.databio.org/v3/assets/splash/94e0d21feb576e6af61cd2a798ad30682ef2428bb7eabbb4/bowtie2_index?tag=default)

[2021-04-01 14:13] nsheff commented on #113
I like that!

[2021-04-05 19:44] stolarczyk commented on #110
another update: instead of calling `find` in a subprocess and storing results in a text file I used `os.listdir` and stored the files in JSON, which is much more convenient for web applications.

[2021-04-07 00:25] stolarczyk opened #114 "traverse asset directories to provide direct file links"
Unless there is a way to serve a directory, we will need to traverse the asset directory and save their contents in a nested data structure, rather than a flat array of strings before saving as JSON.

For assets like [`mm10/bismark_bt2_index:default`](http://rg.databio.org/v3/assets/splash/0f10d83b1050c08dd53189986f60970b92a315aa7a16a6f1/bismark_bt2_index?tag=default), which contain directories wi

[2021-04-07 00:30] nsheff commented on #114
why can't you just save it as a flat array with strings like "path/file.xyz" ?

[2021-04-07 12:45] stolarczyk commented on #114
yeah, that's another possibility. I was thinking to make files in subdirectories indented a level and listed just by the file name (like the level 1 files) and that's why the nested idea came to my mind. This would be cleaner from the UI perspective, but your suggestion is definitely easier to implement and that's what I'll do, I think.

[2021-04-07 18:53] stolarczyk commented on #114
solved: http://rg.databio.org/v3/assets/splash/94e0d21feb576e6af61cd2a798ad30682ef2428bb7eabbb4/bismark_bt2_index?tag=default

[2021-04-16 19:52] k3yavi commented on #103
My apologies for the late response @stolarczyk . It looks great, thanks for adding this.

[2021-04-17 20:24] stolarczyk commented on #103
@k3yavi, I built tgMap assets for the genomes we had salmon_partial_sa_indexes for. They are currently served with our development refgenieserver instance. Here's an example: [hg38/tgMap](http://rg.databio.org/v3/assets/splash/2230c535660fb4774114bfa966a62f823fdb6d21acf138d4/tgMap?tag=default)

[2021-04-22 13:56] k3yavi commented on #103
Look perfect @stolarczyk . Thanks for adding it.

[2021-04-22 13:56] #103 closed, assigned to nobody

[2021-04-26 12:15] nsheff commented on #113
the only thing I'd change is maybe *not* force-uppercase, and just follow the casing in the config file:

https://github.com/refgenie/rg.databio.org/blob/9d1d6f21056977b66a344e45a85c5b6875387dad/config/refgenie_config_archive.yaml#L6

For HTTP and S3 it seems alright to force upper, but what if the remote was something else?

[2021-04-27 17:05] #111 closed, assigned to stolarczyk

[2021-04-27 17:09] #67 closed, assigned to stolarczyk

[2021-04-27 17:09] #100 closed, assigned to nobody

[2021-04-27 17:09] #110 closed, assigned to stolarczyk

[2021-04-27 17:09] #112 closed, assigned to nobody

[2021-04-27 17:09] #113 closed, assigned to nobody

[2021-04-27 17:09] #114 closed, assigned to nobody

[2021-05-12 16:01] zqbake opened #116 "How to download files using s3 in cli"
The HTTP downloading is too slow.

[2021-05-12 21:35] stolarczyk commented on #116
Are you referring to `refgenie pull` command?

Can you share the download speed you are getting? I was able to download a ~800MB hg38/fasta asset in under a minute and the download speed was ~15MB/s.

[2021-05-13 07:52] zqbake commented on #116
slower than 1MB/s

[2021-05-13 14:00] arpanda opened #117 "regenie pull Error"
Hi,
I was trying to pull an asset but getting error. I have used the below command:
[code]

Here is the last three  line of the error:
[code]

I have used it earlier. It was working fine. Not sure what happened. Any suggestions?

[2021-05-13 14:03] stolarczyk commented on #117
can you specify what version of refgenie and Python you are using?

btw, that's a refgenie issue, so I'll transfer it there.

[2021-05-13 21:22] k3yavi opened #118 "can't find salmon-sa-index ."
Hi guys,

I was wondering, did we remove the salmon-genome indices from the refgenie server, it was relatively big in size ~20G for hg38 ? There was a recent issue on salmon repo which raised the concern and I also can't seem to find that online. My apologies if I am looking at wrong places.

https://github.com/COMBINE-lab/salmon/issues/658

[2021-05-13 22:19] stolarczyk commented on #118
We have recently rebuilt all the assets due to refgenie system updates and I'm not sure why, but these builds have been skipped. The jobs are running now and the assets should be on the server in the next few days.

[2021-05-13 22:30] k3yavi commented on #118
Thanks @stolarczyk , much appreciated .

cc @JennyFrodoBrynnNick

[2021-05-14 15:59] stolarczyk commented on #118
the salmon_sa_index assets are back, e.g. [`hg38/salmon_sa_index`](http://refgenomes.databio.org/v3/assets/splash/2230c535660fb4774114bfa966a62f823fdb6d21acf138d4/salmon_sa_index?tag=default)

[2021-05-14 16:23] k3yavi commented on #118
Thanks @stolarczyk for super fast turnaround.

[2021-05-14 16:23] #118 closed, assigned to nobody

[2021-09-19 11:57] lishensuo opened #120 "salmon index"

[2021-09-19 12:08] lishensuo commented on #120
when I used hg38 cDNA salmon index, it returned an error:
[2021-09-19 20:02:57.192] [jointLog] [info] parsing read library format
[2021-09-19 20:02:57.198] [jointLog] [info] There is 1 library.
[2021-09-19 20:02:57.304] [jointLog] [info] Loading Quasi index
Exception : [rapidjson internal assertion failure: IsObject()]
salmon quant was invoked improperly.
For usage information, try salmon quant --

[2021-11-22 15:37] nsheff commented on #120
I can't explain why the quant is failing for you. You can view the build logs on an asset page, such as this: http://refgenomes.databio.org/v3/assets/splash/9a02d64909100f146272f8e16563178e9e93c218b1126ff9/salmon_index?tag=default (see the build log link)

We do not yet have a great way to check out the version used to build the asset served by refgenie server, but we are working on this. This is

[2022-11-02 16:30] nbrittain opened #121 "hg38 salmon_sa_index reference fasta"
Hi,

I have used the hg38/salmon_sa_index:default from refgenie to run salmon quant. For some other work I need to determine what was the source of the fasta used to create this, is there a way to determine the source eg Ensembl, Gencode etc. for this asset? On the build log there is a code for the parent .fa file which appears to have been from your servers and I don't think I can view further de

[2022-11-02 17:46] nsheff commented on #121
You can find all the relevant assets here: http://refgenomes.databio.org/v3/genomes/splash/2230c535660fb4774114bfa966a62f823fdb6d21acf138d4

Note the description here: Description: The GCA_000001405.15 GRCh38_no_alt_analysis_set from NCBI

see, here is the fasta in question: http://refgenomes.databio.org/v3/assets/splash/2230c535660fb4774114bfa966a62f823fdb6d21acf138d4/fasta?tag=default

And you c

[2022-11-02 17:46] #121 closed, assigned to nobody

[2022-11-02 17:50] nbrittain commented on #121
Excellent, thanks very much Nathan

[2022-11-03 07:36] NBrittain commented on #121
Is there a way to view which Ensembl transcriptome version was used for this reference?